/* место для вашего кода */
body {
  background-color: #675858;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.header {
  height: 105px;
  margin: 92px 24px 96px;
  padding: 0 26px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 129px 1fr;
  align-items: center;
}

.menu {
  display: flex;
  gap: 32px;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.menu-item {
  list-style: circle;
}

.menu-item_active {
  text-decoration: none;
  list-style-type: none;
}

.link-regular {
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.header-image {
  width: 129px;
}