/* место для вашего кода */
body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0em;
}

.header {
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
  align-items: center;
  height: 105px;
  margin: 92px 24px 96px;
  padding: 0 26px;
  background-color: #fff;
}

.header-menu {
  display: flex;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.header-menu-item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  list-style: circle;
}

.header-menu-item_active {
  text-decoration: none;
  list-style-type: none;
}

.header-logo {
  display: block;
  width: 135px;
}

.contacts {
  width: 240px;
}

.link-regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.link-main {
  font-size: 20px;
}

.to-the-right {
  justify-self: end;
}
.to-the-center {
  justify-self: center;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  ;
}

.cover-content {
  position: relative;
  z-index: 1;
  padding: 163px 50px 25px;
}

.main-title {
  display: grid;
  padding-bottom: 127px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
}

.line-height-125 {
  line-height: 125px;
}

.letter-space-30 {
  letter-spacing: 0.3em;
}

.letter-space-60 {
  letter-spacing: 0.6em;
}

.cover-description {
  padding-bottom: 26px;
}

.subtitle {
  position: relative;
  left: 28px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  word-spacing: 0.9em;

}

.word-space-extended {
  word-spacing: 0.8em;
}

.bet-button {
  position: relative;
  left: 78px;
  margin: 0;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0;
  text-transform: uppercase;
  background: none;
}

.lots {
  padding: 179px 24px 0;
}

.lots-header {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  color: #fff;
}

.card-title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card-description {
  bottom: 48px;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");  
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.look-more-link {
  padding-top: 30px ;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.about {
  display: flex;
  gap: 32px;
  padding: 146px 29px 180px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
  background: #fff;
}

.circle-dark {
  width: 240px;
  height: 240px;
  margin-top: -15px;
  margin-left: 7px;
  border-radius: 50%;
  padding: 64px 46px;
  background-color: #000;
}

.about-title {
  padding: 139px 0 99px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
} 

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  height: 98px;
  margin: 0 50px 88px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;

}

.footer-menu {
  text-align: center;
  list-style-type: none;
}

.footer-menu-item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.footer-menu-item_active {
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.link-social {
  display: block;
  width: 48px;
}